.container {
	padding: 0 2rem;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 4rem 0 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.6;
	font-size: 1.4rem;

    .topicBlock {
        display: inline-block;
    }

    .indicator {
        display: inline-flex;
        justify-content: center;
        width: 0.5rem;
        height: 0.5rem;
        margin: 0.25rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        background-color: #fac060;
        opacity: 0;
    }

}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    font-family: Inconsolata, monospace;
}


@media (max-width: 600px) {
	.grid {
        width: 100%;
        flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
    .code {
        background: #202020;
    }
    .logo img {
        filter: invert(1);
    }
}
